<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bolt_user_group.name %>
</p>


<%= link_to 'Edit', edit_bolt_user_group_path(@bolt_user_group) %> |
<%= link_to 'Back', bolt_user_groups_path %>
